h1 {
    font-family: 'Arial', sans-serif;
    color: #9e9b9b;
    text-align: center;
    margin-top: 20px;
}

atomic-color-facet::part(value-YouTubeVideo) { 
  background-image: url("https://cdn.cdnlogo.com/logos/y/92/youtube.svg"); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

atomic-color-facet::part(value-rssitem) {
  background-image: url("https://cdn.cdnlogo.com/logos/r/89/rss.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}